
[class*='--alkali_metal'] {
  border: 1px solid #ab5cf2;
  color: #ab5cf2;
  background: #483659;
}

[class*='--alkaline_earth_metal'] {
  border: 1px solid #8aff00;
  color: #8aff00;
  background: #405D25;
}

[class*='--transition_metal'] {
  border: 1px solid #94ffff;
  color: #94ffff;
  background: #425E5C;
}

[class*='--metal'] {
  border: 1px solid #1fffc7;
  color: #1fffc7;
  background: #295E4E;
}

[class*='--metalloid'] {
  border: 1px solid #e7ff21;
  color: #e7ff21;
  background: #575D29;
}

[class*='--nonmetal'] {
  border: 1px solid #ff8000;
  color: #ff8000;
  background: #5C3E23;
}

[class*='--halogen'] {
  border: 1px solid #e6002e;
  color: #e6002e;
  background: #572129;
}

[class*='--noble_gas'] {
  border: 1px solid #c70066;
  color: #c70066;
  background: #4F2236;
}

[class*='--post-transition_metal'] {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #5D5E5C;
}

[class*='--lanthanoid'] {
  border: 1px solid #2f90f7;
  color: #2f90f7;
  background: #2B435A;
}

[class*='--actinoid'] {
  border: 1px solid #baa7ff;
  color: #baa7ff;
  background: #4C475B;
}
